<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제 테스트</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- iamport.payment.js -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
<div class="container">
    <h1>결제 테스트</h1>
    <button id="payment-button">결제하기</button>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var IMP = window.IMP;
    IMP.init("imp86185823"); // 가맹점 식별코드

    $(document).ready(function() {
        $("#payment-button").click(function() {
            IMP.request_pay({
                pg: "html5_inicis",    // 반드시 이 형식으로
                pay_method: "card",
                merchant_uid: "ORD" + new Date().getTime(),
                name: "테스트 상품",
                amount: 1000,
                buyer_email: "test@test.com",
                buyer_name: "홍길동",
                buyer_tel: "010-1234-5678",
                buyer_addr: "서울특별시",
                buyer_postcode: "123-456"
            }, function(rsp) {
                // ... 콜백 함수 내용
            });
        });
    });

    /*]]>*/
</script>
</body>
</html>
